.rounded-none {
  border-radius: 0;
}

.rounded {
  border-radius: var(--sp-0-25);
}

.rounded-md {
  border-radius: var(--sp-1);
}

.rounded-lg {
  border-radius: var(--sp-1-5);
}

.rounded-full {
  border-radius: 100%;
}
