.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.xy-center {
  justify-content: center;
  align-items: center;
}

.space-bw {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex-grow: 1;
}

.gap-1 {
  gap: var(--sp-0-5);
}

.gap-2 {
  gap: var(--sp-1);
}

.gap-3 {
  gap: var(--sp-1-5);
}
