@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 90%;
}

body {
  font-family: "Poppins", "Roboto", "sans-serif";
  transition: all 0.2s ease-in-out;
}

a,
span,
i {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
iframe {
  block-size: auto;
  display: inline-block;
  font-size: inherit;
  max-inline-size: 100%;
  object-fit: cover;
}

button {
  background-color: transparent;
  border: none;
}

i {
  background-color: inherit;
  color: inherit;
  font-size: 1.3rem;
}

a,
button,
i {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

p {
  font-size: var(--sp-1-5);
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}
