/* Font Weight */
.txt-light {
  font-weight: 300;
}

.txt-regular {
  font-weight: 400;
}

.txt-sbold {
  font-weight: 500;
}

.txt-bold {
  font-weight: 600;
}

.txt-black {
  font-weight: 900;
}

/* Text utility */
.txt-secondary {
  color: var(--secondary-color);
}

.txt-primary {
  color: var(--primary-color);
}

.txt-strike-through {
  text-decoration: line-through;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0.625rem 0;
  line-height: 1.2;
  font-weight: 500;
}

.h1,
h1 {
  font-size: var(--sp-3);
}

.h2,
h2 {
  font-size: var(--sp-2-5);
}

.h3,
h3 {
  font-size: var(--sp-2);
}

.h4,
h4 {
  font-size: var(--sp-1-75);
}

.h5,
h5 {
  font-size: var(--sp-1-5);
}

.h6,
h6 {
  font-size: var(--sp-1-25);
}

p,
.p {
  font-size: var(--sp-1-25);
  margin: 0.625rem 0;
  line-height: 1.5;
}

/* Text Sizes */

.txt-xs {
  font-size: 0.75rem;
  line-height: var(--sp-1);
}

.txt-sm {
  font-size: 0.875rem;
  line-height: var(--sp-1-25);
}

.txt-base {
  font-size: var(--sp-1);
  line-height: var(--sp-1-5);
}

.txt-lg {
  font-size: 1.125rem;
  line-height: var(--sp-1-75);
}

.txt-xl {
  font-size: 1.2rem;
  line-height: var(--sp-1-75);
}

.txt-2xl {
  font-size: var(--sp-1-5);
  line-height: var(--sp-2);
}

.txt-3xl {
  font-size: 1.875rem;
  line-height: var(--sp-2-25);
}

.txt-4xl {
  font-size: var(--sp-2-25);
  line-height: var(--sp-2-5);
}

.txt-5xl {
  font-size: var(--sp-3);
  line-height: var(--sp-3);
}
