:root {
  --primary-color: #0ea5e9;
  --light-primary-color: #7dd3fc;
  --dark-primary-color: #0369a1;

  --secondary-color: #94a3b8;
  --light-secondary-color: #e2e8f0;
  --dark-secondary-color: #334155;

  --info-color: #3b82f6;
  --light-gray: #e5e7eb;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --danger-color: #f44336;
  --white-color: #ffff;

  /* Border Radius */
  --br-sm: 0.25rem;
  --br-md: 1rem;
  --br-lg: 1.5rem;
  --br-full: 50%;

  /* Spacing  */
  --sp-0-25: 0.25rem;
  --sp-0-5: 0.5rem;
  --sp-0-75: 0.75rem;
  --sp-1: 1rem;
  --sp-1-25: 1.25rem;
  --sp-1-5: 1.5rem;
  --sp-1-75: 1.75rem;
  --sp-2: 2rem;
  --sp-2-25: 2.25rem;
  --sp-2-5: 2.5rem;
  --sp-2-75: 2.75rem;
  --sp-3: 3rem;

  --box-shadow-1: 0.9px 2.8px 4.2px rgba(0, 0, 0, 0.404),
    2.2px 6.7px 5.3px rgba(0, 0, 0, 0.363),
    4.1px 12.5px 10px rgba(0, 0, 0, 0.035),
    7.4px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    13.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    33px 100px 80px rgba(0, 0, 0, 0.07);

  --box-shadow-2: 0px 0px 10px 4px rgb(0 0 0 / 5%);

  --overlay-color: rgb(234, 234, 236, 0.6);
}
