:root {
  --primary-color: #0ea5e9;
  --light-primary-color: #7dd3fc;
  --dark-primary-color: #0369a1;

  --secondary-color: #94a3b8;
  --light-secondary-color: #e2e8f0;
  --dark-secondary-color: #334155;

  --info-color: #3b82f6;
  --light-gray: #e5e7eb;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --danger-color: #f44336;
  --white-color: #ffff;

  --br-sm: 0.25rem;
  --br-md: 1rem;
  --br-lg: 1.5rem;
  --br-full: 50%;
}
